/* Genel Body ayarları */
html, body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
  }
  
  body {
    background-color: white;
    color: black;
    margin: 90px;
  }
  
  body.dark-mode {
    background-color: #121212;
    color: white;
  }
  
  /* Başlangıçta, dil seçeneklerini gizle */
  .tr-text {
    display: none; /* Türkçe metinler varsayılan olarak gizlenir */
  }
  
  .en-text {
    display: inline; /* İngilizce metinler varsayılan olarak görünür */
  }
  
  /* Tüm elemanlar için box-sizing ayarı */
  * {
    box-sizing: inherit;
  }
  
  /* Header stili */
  header {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #fff;
  }
  
  body.dark-mode header {
    background-color: #1f1f1f;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .dark {
    color: #dcdcdc;
    background-color: #292929;
  }
  
  .header-title {
    display: flex;
    align-items: center;
  }
  
  .header-title h5 {
    margin: 0 0 0 10px;
  }
  
  .creative-title {
    font-size: 3rem;
    font-weight: bold;
  }
  
  .square-box {
    margin: 20px 0;
    max-width: 600px;
    text-align: justify;
    color: #656b71;
  }
  p {
    color: #656b71;
  } 
  body.dark-mode .square-box {
    color: #e0e0e0;
  }
  
  .buttons {
    display: flex;
    gap: 10px;
  }
  
  .buttons button,
  .buttons a {
    padding: 5px 13px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
  }
  
  .buttons button {
    background-color: white;
    color: hsl(242deg 65.21% 43.73%);
    border: none;
    border: 1px solid hsl(242deg 65.21% 43.73%);
  }
  
  .buttons a {
    background-color: #ffffff;
    color: hsl(242deg 65.21% 43.73%);
    border: 1px solid hsl(242deg 65.21% 43.73%);
  }
  
  body.dark-mode .buttons button,
  body.dark-mode .buttons a {
    background-color: #333;
    color: #e0e0e0;
    border: 1px solid #e0e0e0;
  }
  
  .buttons a:hover,
  .buttons button:hover {
    background-color: hsl(242deg 50% 35%);
    color: #ffffff;
  }
  
  /* Divider stili */
  .divider {
    height: 2px;
    background-color: hsl(242deg 65.21% 43.73%);
    margin: 20px 10px;
    width: 100px;
  }
  
  body.dark-mode .divider {
    background-color: #444444;
  }
  
  .profile-divider {
    height: 2px;
    background-color: gray;
    margin: 20px 0;
    width: 100%;
  }
  
  body.dark-mode .profile-divider {
    background-color: #666666;
  }
  
  .mode-toggle {
    position: absolute;
    top: 20px;
    right: 110px;
    display: flex;
    align-items: center;
  }
  
  .bold-black {
    font-weight: bold;
    color: #000000;
  }
  
  body.dark-mode .bold-black {
    color: #ffffff;
  }
  
  .profile-info h4,
  .about-me h4,
  .skill-list div {
    color: hsl(242deg 65.21% 43.73%);
  }
  
  body.dark-mode .profile-info h4,
  body.dark-mode .about-me h4,
  body.dark-mode .skill-list div {
    color: #e0e0e0;
  }
  
  .skill-list p {
    color: #656b71;
  }
  
  body.dark-mode .skill-list p {
    color: #e0e0e0;
  }
  
  .skill-list {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .separator {
    margin: 0 10px;
  }
  
  .blue-text {
    color: hsl(242deg 65.21% 43.73%);
  }
  
  body.dark-mode .blue-text {
    color: #e0e0e0;
  }
  
  /* Navigasyon */
  nav {
    display: flex;
    align-items: center;
    margin-top: 10px;
  }
  
  body.dark-mode nav {
    background-color: #2f2f2f;
  }
  
  .logo {
    margin-right: 20px;
  }
  
  .circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: hsla(260, 11%, 85%, 1);
    border-radius: 50%;
    color: hsl(242deg 65.21% 43.73%);
    margin-top: 30px;
    transform: rotate(40deg); /* Metni 90 derece döndür */
    transform-origin: left center;
  }
  
  body.dark-mode .circle {
    background-color: hsla(260, 11%, 30%, 1);
  }
  
  .nav-links {
    display: flex;
    gap: 40px;
    margin-left: auto;
  }
  
  nav a {
    text-decoration: none;
    color: #000;
  }
  
  body.dark-mode nav a {
    color: #e0e0e0;
  }
  
  nav a:hover {
    text-decoration: underline;
  }
  
  /* Intro */
  .intro {
    display: flex;
    align-items: center;
    padding: 40px;
  }
  
  .intro-text {
    flex: 1;
  }
  
  .intro-image {
    width: 300px;
    height: 250px;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
  }
  
  body.dark-mode .intro-image {
    background-color: #333;
  }
  
  .intro-image img {
    width: 100%;
    height: 300px;
    min-height: 100%;
    object-fit: contain;
  }
  
  /* Skills, Profile, Projects */
  .skills,
  .profile,
  .projects {
    padding: 40px;
  }
  
  body.dark-mode .skills,
  body.dark-mode .profile,
  body.dark-mode .projects {
    background-color: #333;
  }
  
  .profile {
    padding: 40px;
  }
  
  .profile-details {
    display: flex;
    justify-content: space-between;
  }
  
  .divider {
    height: 2px;
    background-color: hsla(260, 11%, 85%, 1);
    margin: 20px 10px;
    width: auto;
  }
  
  body.dark-mode .divider {
    background-color: #444444;
  }
  
  /* Proje Liste Düzeni */
  .project-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
  }
  
  /* Proje öğesi düzeni */
  .project-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;  /* Proje öğesinin genişliği */
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;  /* Kutu kenarları yuvarlatıldı */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);  /* Hafif gölge */
    overflow: hidden;
    transition: transform 0.3s ease-in-out; /* Hover efekti için geçiş ekledik */
  }
  
  body.dark-mode .project-item {
    background-color: #2c2c2c;
    color: #e0e0e0;
  }
  
  .project-item:hover {
    transform: translateY(-10px); /* Hover durumunda projeyi hafifçe yukarı kaydır */
  }
  
  .project-links {
    display: flex;
    justify-content: space-between;
  }
  
  /* Resim düzeni */
  .image-container img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
  }
  
  /* Footer */
  footer {
    background-color: #f1f1f1;
    text-align: left;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    box-sizing: border-box;
    position: relative;
    clear: both;
  }
  
  body.dark-mode footer {
    background-color: #1f1f1f;
  }
  
  .footer-container {
    display: flex;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .footer-title {
    font-size: 26px;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .footer-subtitle {
    font-size: 26px;
    margin-top: 0;
    font-weight: bold;
  }
  
  .footer-left {
    text-align: left;
    position: relative;
    display: flex;
    align-items: center;
  }
  
  .footer-left .email {
    position: relative;
    color: crimson;
  }
  
  body.dark-mode .footer-left .email {
    color: #e0e0e0;
  }
  
  .footer-left .email::after {
    display: block;
    width: 100%;
    height: 2px;
    background-color: crimson;
    position: absolute;
    left: 0;
  }
  
  .footer-right {
    margin-left: auto;
    display: flex;
    align-items: center;
  }
  
  .footer-links {
    display: flex;
    gap: 10px;
  }
  
  .footer-links a {
    text-decoration: none;
  }
  
  body.dark-mode .footer-links a {
    color: #e0e0e0;
  }
  
  .footer-links a:hover {
    text-decoration: underline;
  }
  
  .personal-blog {
    color: black;
    text-decoration: none;
    font-weight: normal;
  }
  
  body.dark-mode .personal-blog {
    color: #e0e0e0;
  }
  
  .btn-github {
    color: green;
    text-decoration: none;
    font-weight: normal;
  }
  
  .btn-linkedin {
    color: blue;
    text-decoration: none;
    font-weight: normal;
  }